/* IE7 and Older Styles */

/* Wrapper */
body {
    margin: 0 auto;
    width: 100%;
    min-width: 1024px;
    position: relative;
}

.inner-page #footer-site {
	position: relative;
}

#nav-site, #main-site {
	top: 0;
	position: relative;
}