@charset "UTF-8";
/*
Contents:
1. import partials
2. import legacy
3. generic stuff

*/
/*--- import partials ---*/
/*--- import legacy stuff ---*/
/* 

Mark Boulton Design
Web site: http://markboultondesign.com
Twitter: http://twitter.com/markboultondsg

Index
1. Reset
2. Clearfix
3. General Typography & Layout
4. More specific css

/* 1. Reset ---------------------------------------- */
@import url(fonts.css);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* 2. Clearfix -------------------------------- */
/* More info: http://nicolasgallagher.com/micro-clearfix-hack/

For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

/* 3. General Typography & Layout ------------------------------ */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #454545;
  background-color: #f6f6f6;
}

p {
  max-width: 40em;
}

p + p {
  margin-top: 1ex;
}

blockquote {
  margin: 0 2em 1em;
  color: #333;
}

cite {
  display: block;
}

a {
  color: #622E78;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p a {
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

dd + dt {
  margin-top: 10px;
}

li ul {
  margin-left: 1em;
}

ol, ul {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

code {
  display: inline;
  font-family: Consolas,"Bitstream Vera Sans Mono","Andale Mono",Monaco,"DejaVu Sans Mono","Lucida Console",monospace;
  color: #EB9744;
  margin-right: 2px;
  margin-left: 2px;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111;
}

h1 {
  font-size: 2.8em;
  line-height: 1;
  margin-bottom: 0.5em;
  font-weight: 200;
}

h2 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

h4 {
  font-size: 1.3em;
  line-height: 1.25;
  margin-top: 1.25em;
  margin-bottom: 0.25em;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.75em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  color: #666666;
}

h2.slug {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  padding-bottom: 1em;
}

#nav-site dt p,
.main-sidebar h1,
h2.slug {
  text-transform: uppercase;
  margin: 0;
  color: #999;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
}

.boxout {
  background: #111;
  color: #fff;
  padding-top: 1px;
  padding-bottom: 1em;
}

.type-specimen {
  width: 100%;
  line-height: 0.9;
  padding: 5%;
  box-sizing: border-box;
}

.type-specimen .alphabet {
  font-size: 3.6em;
  margin-top: 0.5em;
  line-height: 1.3;
}

dl.titling {
  margin-top: 2em;
  margin-bottom: 2em;
}

dl.titling dt {
  font-size: 1.4em;
  margin-top: 1em;
}

dl.titling dd {
  font-size: 1.2em;
  line-height: 1.5;
}

#footer-site {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 0;
  color: #bbb;
  display: block;
  clear: both;
  width: 100%;
  overflow: hidden;
}

.inner-page #footer-site {
  top: 100%;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .inner-page #footer-site {
    top: auto;
    position: relative;
  }
}
#footer-site h2 {
  margin-bottom: 0.5em;
  font-size: 1em;
}

#footer-site article ul {
  list-style-type: none;
  margin-bottom: 1em;
}

#footer-site article ul li {
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 14px;
  margin-bottom: 0;
}

#footer-site p {
  font-size: 0.8em;
}

#footer-site a {
  color: #eee;
  text-decoration: none;
}

#footer-site a:hover {
  color: #fff;
}

h3.label {
  padding: 0.5em;
  position: absolute;
  background: #622e78;
  color: #fff;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

iframe {
  width: 100%;
  margin-top: 1em;
}

.pattern {
  margin-bottom: 1em;
}

h2.patterns {
  border-top: 1px solid #ddd;
  padding-top: 0.5em;
  clear: both;
}

/* pattern heights */
.map iframe {
  height: 440px;
}

.pattern .frame {
  min-height: 20em;
  position: relative;
  z-index: 10;
}

.pattern:after {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "Loading pattern…";
  color: #666;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
}

#nav-site, #main-site {
  top: 74px;
  position: absolute;
  height: calc(100% - 74px);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  #nav-site, #main-site {
    top: auto;
    position: relative;
  }
}
#nav-site {
  z-index: 1000;
}

@media only screen and (max-width: 767px) {
  #nav-site {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    left: -100%;
  }
}
#nav-site > ul, #nav-site > dl {
  padding: 2em 2em 0;
  margin: 0;
  border-right: 1px solid #ddd;
}

#nav-site .about {
  padding: 2em;
  border-right: 1px solid #ddd;
  margin: 0;
  font-size: 14px;
}

#nav-site li, #nav-site a, #nav-site dt {
  padding: 0.7em;
  display: block;
  position: relative;
  left: -0.7em;
  width: 100%;
}

#nav-site a {
  margin: -0.7em 0;
  width: 100%;
  padding-right: 2em;
  border: 1px solid transparent;
}

/*#nav-site .active {
	background-color: #fff;
	border-color: #ddd;
	border-right-color: #fff;
	z-index: 100;
}*/
#nav-site h3 {
  margin: 0;
}

#nav-site dt {
  border-top: 1px solid #ddd;
  padding: 1em 2em 0.5em;
  position: relative;
  left: -2em;
  width: 100%;
}

#nav-site > dl > dd {
  padding-bottom: 1em;
}

#main-site {
  background-color: #fff;
  padding-left: 3.03030303%;
  left: -3.03030303%;
}

@media only screen and (max-width: 1023px) {
  #main-site {
    padding-left: 2.60416667%;
    left: -2.60416667%;
  }
}
@media only screen and (max-width: 767px) {
  #main-site {
    padding-left: 0;
    left: 0;
  }
}
#main-content, .main-sidebar {
  padding: 2em 2em 2em 0;
}

@media only screen and (max-width: 767px) {
  #main-content, .main-sidebar {
    padding: 2em;
  }
}
#header-page {
  padding-bottom: 2em;
  margin: 0 0 2em 0;
  border-bottom: 3px solid #999;
}

#header-page h1 {
  color: #622E78;
}

#meta-pattern {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 14px;
  font-size: 1.4rem;
  color: #666;
}

@media only screen and (max-width: 1023px) {
  #meta-pattern {
    margin-top: 2em;
    font-size: 12px;
    font-size: 1.2rem;
    color: #999;
  }
}
#meta-pattern ul {
  list-style: none;
  margin: 0;
}

#meta-pattern li + li {
  margin-top: 0.5em;
}

.main-sidebar {
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  color: #666;
}

@media only screen and (max-width: 1023px) {
  .main-sidebar {
    margin-top: 2em;
    padding-bottom: 2em;
  }
}
.main-sidebar > section {
  padding-right: 2em;
}

.main-sidebar h1 {
  margin-bottom: 1em;
}

.main-sidebar ul {
  margin-left: 0;
  padding-left: 1em;
}

.main-sidebar li {
  margin-bottom: 0.5em;
}

/* Divider */
[class*=divider] {
  border-color: #ddd;
}

[class*=divider][class*=top] {
  margin-top: 20px;
  padding-top: 20px;
  border-top-width: 1px;
  border-top-style: solid;
}

[class*=divider][class*=bottom] {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* Box */
.box {
  border: 1px solid #ddd;
  background: #eee;
  overflow: hidden;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Buttons */
[class*=btn] {
  background-color: #666;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 0.5em 0;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  font-family: 'HelveticaNeueLTStd-Bd', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.btn-small {
  padding: 3px 5px;
  font-size: 12px;
}

/* Action Styles */
[class*=action] {
  text-decoration: none;
  font-size: 12px;
  display: block;
  position: relative;
  z-index: 1;
}

.action-btn {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  text-align: center;
  background: #f6f6f6;
  color: #4D94CC;
}

.action-btn:hover {
  background: #fff;
  text-decoration: none;
}

.actions > a {
  margin-left: 1.5em;
}

/* Forms */
fieldset {
  margin-bottom: 30px;
}

fieldset + [class*=divider][class*=top] {
  margin-top: -10px;
}

fieldset:last-child {
  margin-bottom: 0;
}

input, textarea {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  margin-top: 5px;
  padding: 4px 0 0 10px;
  height: 40px;
  font-size: 14px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
}

input:focus, textarea:focus {
  color: #000;
}

textarea {
  height: auto;
  padding-top: 10px;
  line-height: 1.4;
}

/* Tables */
table {
  display: table;
  table-layout: auto;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  clear: left;
  float: left;
}

thead, tbody, tfoot {
  display: table-row-group;
  width: 100%;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tfoot {
  display: table-footer-group;
}

tr {
  display: table-row;
  width: 100%;
}

th, td {
  display: table-cell;
  padding: 15px 10px;
  text-align: left;
  width: auto;
  border-bottom: 1px solid #ddd;
  border-top: none;
  vertical-align: middle;
}

th {
  border-right: 1px solid #ddd;
}

/* Tabs */
.tabs {
  list-style: none outside none;
  margin: 2em 0 7px 0;
}

.tabs a {
  padding: 0.7em;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  color: #fff;
}

.tabs a:hover {
  text-decoration: none;
  background: rgba(51, 51, 51, 0.5);
}

.tabs li {
  display: inline;
  margin-bottom: 1.8em;
}

.on {
  background: #f8f8f8 !important;
  color: #333 !important;
}

.section {
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: none;
}

.show {
  height: auto;
  opacity: 1;
  display: block;
}

/* General */
.section-wrapper {
  padding: 1em 0;
}

.header-page p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #333;
}

[class*="swatch"] {
  height: 180px;
  display: table-cell;
  width: 25%;
  padding: 6px;
}

[class*="swatch"] dl {
  color: #000;
}

[class*="swatch"] dl.light {
  color: #fff;
}

[class*="note"] {
  background: #f0f8fc;
  font-size: 12px;
  list-style-type: none;
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 0;
  padding: 10px;
}

.masthead {
  background-color: #622e78;
  padding: 10em 2em 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .masthead {
    padding: 6em 2em 2em;
  }
}
.masthead h1 {
  color: #fff;
  font-size: 4.2em;
  font-weight: 100;
  float: left;
}

@media only screen and (max-width: 767px) {
  .masthead h1 {
    font-size: 3.2em;
  }
}
.masthead .version {
  color: #999;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 2.3em;
  margin-left: 1.5em;
  float: left;
}

@media only screen and (max-width: 767px) {
  .masthead .version {
    display: none;
  }
}
.masthead .version a {
  color: #fff;
  text-decoration: none;
}

.masthead .version a:hover {
  text-decoration: underline;
}

.masthead .btn {
  display: block;
  margin: 0 auto;
}

.inner-page .masthead .btn {
  float: right;
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 0.8em;
}

@media only screen and (max-width: 767px) {
  .inner-page .masthead .btn {
    padding: 10px 0;
    margin-bottom: 1em;
  }
}
.masthead .standfirst {
  color: #fff;
  opacity: 0.6;
}

.inner-page .masthead {
  background-color: #622e78;
  padding-top: 5px;
  padding-bottom: 5px;
}

.inner-page .masthead h1 {
  font-size: 2em;
  line-height: 1;
  margin-top: 0.5em;
}

@media only screen and (max-width: 767px) {
  .inner-page .masthead h1 {
    font-size: 1.5em;
  }
}
.inner-page .btn {
  margin-left: 2em;
}

.inner-page aside {
  margin-top: 0;
}

#nav-site #nav-mobile-back, #nav-mobile-menu {
  display: none;
}

@media only screen and (max-width: 767px) {
  #nav-site #nav-mobile-back {
    display: block;
    position: absolute;
    top: 30px;
    padding: 0;
    z-index: 1000;
    text-align: right;
  }

  #nav-site #nav-mobile-back img {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    position: relative;
    margin: -5px -3px 0 -8px;
  }

  .mobile-open #nav-site {
    left: 0;
    display: block;
    position: relative;
  }

  #nav-mobile-menu {
    display: block;
    width: 20px;
    top: 1.5em;
    right: 35px;
    position: absolute;
    z-index: 1000;
  }
}
/* styleguide specific (client side)

   Below are styles specifc to clients requirements.
-------------------------------------------------------------- */
/* font */
[class*="sample"] {
  font-family: helvetica neue, sans-serif;
}

/* Colour */
.palette {
  display: table;
  border-spacing: 1em;
  width: 100%;
  maring-left: -1em;
}

.darkgreen {
  background-color: #555025;
}

.midgreen {
  background-color: #8f993e;
}

.brightgreen {
  background-color: #b5bd00;
}

.lightgreen {
  background-color: #bbc592;
}

.yellow {
  background-color: #f6be00;
}

.darkred {
  background-color: #651d32;
}

.midred {
  background-color: #93272c;
}

.brightred {
  background-color: #d50032;
}

.lightred {
  background-color: #93272c;
}

.orange {
  background-color: #ea7600;
}

.darkpurple {
  background-color: #4b384c;
}

.midpurple {
  background-color: #500778;
}

.brightpink {
  background-color: #ac145a;
}

.lightpurple {
  background-color: #c6b0bc;
}

.warmgrey {
  background-color: #8c8279;
}

.darkblue {
  background-color: #003d4c;
}

.midblue {
  background-color: #002855;
}

.brightblue {
  background-color: #0097a9;
}

.lightblue {
  background-color: #8db9ca;
}

.stone {
  background-color: #d6d2c4;
}

.darkbrown {
  background-color: #4e3629;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
  border: 1px solid #eeeeee;
}

.row {
  display: table-row;
}

/* Colour Tint Examples */
.brightpink.lightened {
  background: #ee6ba7;
}

.midpurple.lightened {
  background: #d086f8;
}

.brighblue.darkened {
  background: #000e10;
}

/* Typography */
.helvetica {
  font-family: Helvetica Neue, Helvetica, Arial;
  background-color: #ecece7;
}

.helvetica .headline {
  color: #e05b00;
  line-height: 1;
  padding-top: 36px;
  margin-bottom: 16px;
}

.helvetica .line2 {
  font-weight: 600;
}

.helvetica .line3 {
  font-weight: 100;
}

.helvetica .line4 {
  font-style: italic;
}

.para1, .para2 {
  margin-top: 12px;
  line-height: 1.3;
}

.para1 {
  width: 49%;
  margin-right: 1%;
  float: left;
}

.helvetica .line6 {
  font-weight: 900;
}

.garamond {
  font-family: garamond, georgia, serif;
  border: 1px solid #d7d7d7;
  margin-top: 1em;
}

/* HTML elements */
[class*="breadcrumb"] > ul li {
  display: inline;
  margin: 0 5px 0 0;
}

.message {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  clear: left;
  color: #666666;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.warning, .success {
  background-color: #FDFFD0;
  background-image: url("../img/alert.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #DD6868;
  display: block;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-top: 10px;
  text-decoration: none;
}

.success {
  background-color: #FDFDFD;
  background-image: url("../img/success.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #7FB861;
}

/* home-page syles */
#audience {
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  #audience article {
    margin-bottom: 1em;
  }
}
.page-section {
  padding: 2em 2em 2em;
  border-bottom: 1px solid #ddd;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-section h4 {
  margin-top: 0;
}

.page-section h1 {
  font-size: 2em;
}

.home-page .masthead .standfirst {
  font-size: 22px;
}

.home-page .masthead .version {
  margin: 1em 0 0 0;
}

@media only screen and (max-width: 767px) {
  .home-page .masthead .standfirst {
    margin-bottom: 1em;
    font-size: 18px;
  }
}
.case-studies {
  margin-bottom: 1em;
}

.casestudy {
  margin-bottom: 2em;
}

.casestudy h2 {
  margin-top: 0;
}

@media only screen and (max-width: 989px) {
  .case-studies {
    margin-top: 2em;
  }
}
.examples {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.examples img {
  width: 80%;
}

ol li {
  margin-bottom: 1em;
}

.download-area {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.download-area a {
  color: #B679CF;
}

a.btn-download {
  color: #712591;
  background-color: #F6D6F8;
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  a.btn-download {
    font-size: 14px;
  }
}
/* Templates List */
.templates {
  margin-top: 2em;
}

/* UCL specific */
.masthead h1 a {
  color: #fff;
}

/*--- & new stuff ---*/
.template .frame {
  min-height: 80em;
  overflow: hidden;
  margin-bottom: 2em;
}

.pattern .frame {
  min-height: 25em;
}

/*--- 3. generic stuff --*/
ul, ol {
  max-width: 40em;
}

/*# sourceMappingURL=style.css.map */
