$darkgreen: #555025;
$midgreen: #8f993e;
$brightgreen: #b5bd00;
$lightgreen: #bbc592;
$yellow: #f6be00;
$darkred: #651d32;
$midred: #93272c;
$brightred: #d50032;
$lightred: #bbc592;
$orange: #ea7600;
$darkPurple: #4b384c;
$midpurple: #500778;
$brightpink: #ac145a;
$lightpurple: #c6b0bc;
$warmgrey: #8c8279;
$darkblue: #003d4c;
$midblue: #002855;
$brightblue: #0097a9;
$lightblue: #8db9ca;
$stone: #d6d2c4;
$darkbrown: #4e3629;